# Dependencies
node_modules/
dist/
*.log

# Firebase & Secrets
service-account.json
firebase-key.json
*.local.json
.env
.env.local
closedai-e7fff-firebase-adminsdk-fbsvc-4106ce4aca.json

# IDEs
.vscode/
.idea/
.DS_Store
firebase.json
